@use './theme-variables.scss' as variables;
@use "sass:map";

main {
    display: flex;
    flex-direction: column;
    gap: 9.3rem;
    padding-bottom: 9.3rem;
    align-items: center;

    @include variables.breakpoint(md, max) {
        gap: 3rem;
        padding-bottom: 3rem;
    }

    > section:not(section:first-child) {
        margin-left: 13.5rem;
        margin-right: 13.5rem;
        width: 85%;
        max-width: 1400px;

        h2 {
            @include variables.title;
        }
    }
}

#hero-section {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;

    @include variables.breakpoint(sm, max) {
        aspect-ratio: 16/12;
    }

    img {
        width: 100%;

        @include variables.breakpoint(sm, max) {
            width: 150%;
        }
    }
}

#title-section {
    > p:first-child {
        @include variables.sub-title;
        color: variables.$accent-color;
        margin-bottom: 0.6rem;
    }

    h1 {
        @include variables.big-title;
        margin-bottom: 1.9rem;
    }

    > p:not(:first-child) {
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
}

#plan-section {
    display: flex;
    flex-direction: column;
    gap: 5.3rem;

    > section:first-child {
        width: 100%;
        img {
            width: 100%;
        }
    }

    > section:not(:first-child) {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        > section {
            column-count: 2;

            @include variables.breakpoint(md, max) {
                column-count: 1;
            }

            > section {
                display: flex;
                flex-direction: column;
                gap: 0.6rem;

                margin-bottom: 1rem;

                h3 {
                    font-weight: 500;
                    font-size: 1.8rem;
                    color: variables.$accent-color;
                    margin-bottom: 0.3rem;
                }
    
                .map-list-group {
                    display: flex;
                    flex-direction: column;
                    gap: 0.6rem;

                    > section {
                        display: flex;

                        p {
                            &:first-child {
                                width: 2rem;
                                color: variables.$accent-color;
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

#program-section {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    
    h2 {
        margin-bottom: 0.6rem;
    }

    > section:nth-child(2) {
        display: flex;
        gap: 1.25rem;
        @include variables.text;

        p:hover {
            cursor: pointer;
        }

        p:first-child {
            color: variables.$accent-color;
        }
    }

    > section:nth-child(3) {
        article {
            padding: 1.25rem 1.8rem;
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            h3 {
                @include variables.sub-title;
            }

            section {
                display: flex;
                flex-wrap: wrap;
                column-gap: 2.5rem;
                row-gap: 0.6rem;

                p:first-child {
                    color: variables.$accent-color;
                }
            }

            &:nth-child(2n + 1) {
                background-color: variables.$light-gray;
            }
        }
    }
}

#past-years-section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    > section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4.3rem;

        @include variables.breakpoint(md, max) {
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
        }

        article {
            background-color: variables.$light-gray;

            div {
                width: 100%;
                aspect-ratio: 16/9;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            section {
                width: 100%;
                padding: 1.8rem;
                display: flex;
                flex-direction: column;
                gap: 1.2rem;

                h3 {
                    @include variables.sub-title;
                }
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

#visitors-section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    h2 {
        margin-bottom: 1.2rem;
    }

    h3 {
        @include variables.sub-title;
    }

    > section:nth-child(2) {
        section {
            display: grid;
            grid-template-columns: min-content auto;
            grid-template-rows: auto auto auto auto;
            column-gap: 2rem;
            row-gap: 0.6rem;

            p:nth-child(2n) {
                color: variables.$accent-color;
            }
        }
    }

    > section:nth-child(3) a {
        color: variables.$black;
    }

    > section:nth-child(4) {
        a {
            color: variables.$accent-color;
        }

        section {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;
        }
    }

    > section {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }
}