@use './theme-variables.scss' as variables;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

p, h1, h2, li {
    color: variables.$black;
}

p, a {
    @include variables.text;
}

button.no-style {
    border: none;
    background-color: transparent;
    padding: 0px;
}

header {
    width: 100%;
    position: fixed;
    top: 0px;

    nav a {
        color: variables.$black;
        font-weight: 500;
        font-size: 1rem;
    }

    > section:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        padding: 1.1rem 4rem;

        @include variables.breakpoint(md, max) {
            padding: 0.4rem 3rem;
        }
    
        width: 100%;
    
        background-color: white;

        > a {
            width: 5.5rem;
            img {
                width: 100%;
            }
        }
    
        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;
    
            @include variables.breakpoint(xl, max) {
                display: none;
            }
        }
    
        > section {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 3rem;

            @include variables.breakpoint(md, max) {
                gap: 1.5rem;
            }
    
            button:first-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                @include variables.breakpoint(xl) {
                    display: none;
                }
                
                img {
                    height: 1.5rem;
                }
            }
        }
    }

    > section:nth-child(2) {
        background-color: variables.$light-gray;

        padding: 2rem 0px;

        nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.6rem;
        }
    }
}

main {
    margin-top: 3rem;
    @include variables.breakpoint(md, max) {
        margin-top: 2rem;
    }
}

.action-button {
    background-color: variables.$accent-color;
    color: white;
    padding: 0.5rem 0.7rem;
    border-radius: 0.6rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
}

footer {
    background-color: variables.$light-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.6rem;

    padding: 2.5rem;

    h3 {
        @include variables.sub-title;
    }

    a {
        color: variables.$accent-color;
    }

    > section:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.6rem;

            li {
                @include variables.text;
            }
        }
    }

    > section:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        text-align: center;

        p:last-child {
            color: #A4A4A4;
            font-size: 0.9rem;

            @include variables.breakpoint(md, max) {
                font-size: 0.6rem;
            }
        }
    }
}